attrs==17.2.0
Automat==0.6.0
bitstring==3.1.5
bottle==0.12.13
constantly==15.1.0
hyperlink==17.3.1
incremental==17.5.0
pyserial==3.4
simplejson==3.11.1
six==1.11.0
Twisted==17.5.0
txJSON-RPC==0.5
zope.interface==4.4.3
