/* ------------------
 styling for the tables 
   ------------------   */
.buttons a, .buttons button{
    display:block;
    float:left;
    margin:0 7px 0 0;
    background-color:#f5f5f5;
    border:1px solid #dedede;
    border-top:1px solid #eee;
    border-left:1px solid #eee;

    font-family:"Lucida Grande", Tahoma, Arial, Verdana, sans-serif;
    font-size:12px;
    line-height:130%;
    text-decoration:none;
    font-weight:bold;
    color:#565656;
    cursor:pointer;
    padding:5px 10px 6px 7px; /* Links */
}
.buttons button{
    width:auto;
    overflow:visible;
    padding:4px 10px 3px 7px; /* IE6 */
}
.buttons button[type]{
    padding:5px 10px 5px 7px; /* Firefox */
    line-height:17px; /* Safari */
}
*:first-child+html button[type]{
    padding:4px 10px 3px 7px; /* IE7 */
}
.buttons button img, .buttons a img{
    margin:0 3px -3px 0 !important;
    padding:0;
    border:none;
    width:16px;
    height:16px;
}

/* STANDARD */

button:hover, .buttons a:hover{
    background-color:#dff4ff;
    border:1px solid #c2e1ef;
    color:#336699;
}
.buttons a:active{
    background-color:#6299c5;
    border:1px solid #6299c5;
    color:#fff;
}

/* POSITIVE */

button.positive, .buttons a.positive{
    color:#529214;
}
.buttons a.positive:hover, button.positive:hover{
    background-color:#E6EFC2;
    border:1px solid #C6D880;
    color:#529214;
}
.buttons a.positive:active{
    background-color:#529214;
    border:1px solid #529214;
    color:#fff;
}

/* NEGATIVE */

.buttons a.negative, button.negative{
    color:#d12f19;
}
.buttons a.negative:hover, button.negative:hover{
    background:#fbe3e4;
    border:1px solid #fbc2c4;
    color:#d12f19;
}
.buttons a.negative:active{
    background-color:#d12f19;
    border:1px solid #d12f19;
    color:#fff;
}

/* REGULAR */

button.regular, .buttons a.regular{
    color:#336699;
}
.buttons a.regular:hover, button.regular:hover{
    background-color:#dff4ff;
    border:1px solid #c2e1ef;
    color:#336699;
}
.buttons a.regular:active{
    background-color:#6299c5;
    border:1px solid #6299c5;
    color:#fff;
}

body
{
    line-height: 1.6em;
}

/*h1
{
    font-family: "Lucida Sans Unicode","Lucida Grande", Sans-Serif;
    font-size: 72px;
    text-align: center;
    font-weight: bold;
    color: #039;
}*/

h3
{

   font-family: "Lucida Sans Unicode","Lucida Grande", Sans-Serif;
   font-weight: bold;
   color: #039;
   background: #EFF2FF;
   border: 1px solid #039;
   border-radius: 5px;

}

h4
{

   font-family: "Lucida Sans Unicode","Lucida Grande", Sans-Serif;
   font-weight: normal;
   color: #039;
   background: #EFF2FF;
   border: 1px solid #039;

}

a:link {text-decoration:none; color: #669;}
a:visited {text-decoration:none; color: #669;}
a:hover {text-decoration:none; color: #ff0000;}
a:active {text-decoration:none;}

li
{

   font-family: "Lucida Sans Unicode","Lucida Grande", Sans-Serif;
   font-weight: normal;
   color: #039;

}

#hor-minimalist-a
{
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 12px;
    background: #fff;
    margin: 45px;
    width: 900px;
    border-collapse: collapse;
    text-align: left;
}
#hor-minimalist-a th
{
    font-size: 14px;
    font-weight: normal;
    color: #039;
    padding: 10px 8px;
    border-bottom: 2px solid #6678b1;
    border-top: 2px solid #6678B1;
}
#hor-minimalist-a td
{
    border-bottom: 1px solid #ccc;
    color: #669;
    padding: 6px 8px;
}
#hor-minimalist-a tbody tr:hover td
{
    color: #009;
}


#hor-minimalist-b
{
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 12px;
    background: #fff;
    margin: 45px;
    width: 480px;
    border-collapse: collapse;
    text-align: left;
}
#hor-minimalist-b th
{
    font-size: 14px;
    font-weight: normal;
    color: #039;
    padding: 10px 8px;
    border-bottom: 2px solid #6678b1;
}
#hor-minimalist-b td
{
    border-bottom: 1px solid #ccc;
    color: #669;
    padding: 6px 8px;
}
#hor-minimalist-b tbody tr:hover td
{
    color: #009;
}

/*HBUS MOBILE STYLES*/

.hbusContainer {
    
    max-width: 960px;
    max-height: 480px;

    margin: auto;
    
}

.hbusMHeader {
    
    width: 100%;
    margin-bottom: 20px;
    /*display: box;*/
    height: 100px;
    
}

.hbusMHeader section{
 
    float: left;
    width: 420px;
    margin: 10px;
    
    height: inherit;
    
}

.hbusMHeader aside{
    
    float: right;
    margin: 10px;
    /*margin-left: 100px;*/
    width: auto;
    height: 90%;
    
    /*position: absolute;
    left:500px;*/
    
}

/*LOGO NO CABEÇALHO*/
.hbusMHeader a.hbusLogo {
  display: block;
  text-indent: -9999px;
  
  width:  100%;
  height: 100%;
  
  background: url(hbus.svg);
  background-repeat: no-repeat;
  background-size: contain;
  /*background-size: 75%;*/
  
}

.hbusMHeader div.hbusStatus {

    float: left;
    height: 100%;
    width: 200px;
    margin: 10px;
        
    border: 2px solid #6299C5;
    border-radius: 5px;
    
    background-color: #EFF2FF;
    
}

.hbusDeviceDescription {
    
   font-family: "Lucida Sans Unicode","Lucida Grande", Sans-Serif;
   font-weight: bold;
   font-size: 3em;
   color: #039;
   background: #EFF2FF;
   border: 1px solid #039;
   border-radius: 5px;
   
   padding: 12px;
   
   /*display: box;*/
   /*vertical-align: middle;*/
}

.hbusDeviceDescription a.left
{
    float: left;  
    text-align:left;
    text-decoration: none;
}

.hbusDeviceDescription div.right
{
    font-size: 0.5em;
    text-align: right;
}

.hbusActiveDevices {
    
   font-family: "Lucida Sans Unicode","Lucida Grande", Sans-Serif;
   font-weight: bold;
   font-size: 3em;
   color: #039;
   background: #EFF2FF;
   border: 1px solid #039;
   border-radius: 5px;
   
   padding: 12px;
   
   /*display: box;*/
   /*vertical-align: middle;*/
}

.hbusMMain {
    
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: auto;
    margin-top: 20px;
    
    height: 280px;
    
    border: 4px dashed #6299C5;
    border-radius: 20px;
    
    background-color: #EFF2FF;
}

.hbusMMain div.objectHeader h1
{
    
    text-align: center;
    padding-left: 10px;
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-serif;
    font-size: 3em;
    text-decoration:underline;

    
    color: #0644b5;
    
}

.hbusMHeader div.hbusStatus div.activeSlaveCount
{
    
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-serif;
    font-weight: bold;
    text-align: center;
    font-size: 3em;
    padding: 10px;
    
    color: #008000;
    
}

.hbusMHeader div.hbusStatus div.statusText
{
    
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-serif;
    font-weight: bold;
    text-align: center;
    font-size: 1.25em;
    
    color: #336699;
    
}

/*LISTAGEM DE BARRAMENTOS*/

.hbusMMain ul.busGrid {
    
    /*position:relative;*/
    
    padding: 0;
    list-style: none;
    /*margin: 20%;
    width: 50%;*/
    height: 50%;
   
   text-align: center;
   
}

.busGrid li {
    
    /*float: left;*/
    /*padding: 1px;*/
    border: 5px solid #000000;
    
    border-radius: 20px;
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    
    width: 100px;
    height:100px;
    
    background-color: #F5F5F5;
    
    display: inline-block;
    
}

.busGrid a {
    
    background: url(busicon.svg) no-repeat;
    background-size: contain;
    
    background-position:center;
    
    width: 100%;
    height: 100%;
    
    display: block;
    
    text-align: center;
    font-weight: bold;
    
}

/*LISTAGEM DE DISPOSITIVOS*/
.hbusMMain ul.devGrid {
    
    /*position:relative;*/
    
    padding: 0;
    list-style: none;
    /*margin: 20%;
    width: 50%;*/
    height: 80%;
   
   text-align: center;
   
}

.devGrid li {
    
    float: left;
    /*padding: 1px;*/
    border: 5px solid #000000;
    
    border-radius: 20px;
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    
    width: 100px;
    height:100px;
    
    background-color: #F5F5F5;
    
    display: inline-block;
    
}

.devGrid a {
    
    background: url(devicon.svg) no-repeat;
    background-size: contain;
    
    background-position:center;
    
    width: 100%;
    height: 100%;
    
    display: block;
    
    text-align: center;
    font-weight: bold;
    
    color : #000099;
}

/*LISTAGEM DE OBJETOS*/
.hbusMMain ul.objGrid {
    
    position:relative;
    top: -10px;
    
    padding: 0;
    list-style: none;
    /*margin: 20%;
    width: 50%;*/
    height: 90%;
   
   text-align: center;
   
}

.objGrid li {
    
    float: left;
    /*padding: 1px;*/
    border: 4px solid #000000;
    
    border-radius: 20px;
    margin-right: 8px;
    margin-left: 8px;
    margin-top: 10px;
    margin-bottom: 10px;
    
    width: 90px;
    height:90px;
    
    background-color: #F5F5F5;
    
    display: inline-block;
    
}

.objGrid a {
    
    width: auto;
    height: auto;
    
    display: block;
    
    text-align: center;
    font-weight: bold;
    
    position: relative;
    top: 10px;
    
    color : #000099;
    
    background-color: rgb(255,255,255);
    background-color: rgba(255,255,255,0.6);
}

.objGrid li.percent {
    
    background: url(percent.svg) no-repeat;
    background-size: contain;
    background-position:center;
    background-color: #F5F5F5;
}

.objGrid li.boolsw {
    
    background: url(boolsw.svg) no-repeat;
    background-size:contain;
    background-position: center;
    background-color: #F5F5F5;
}

.objGrid li.byte {
    
    background: url(byte.svg) no-repeat;
    background-size: contain;
    background-position: center;
    background-color: #F5F5F5;
}

.objGrid li.empty {
    
}

.hbusMMain section.readObjects {
    
    float: left;
    
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    margin-top: 5px;
    
    overflow: hidden;
    
    height: 262px;
    width: auto;
    
    /*-moz-transition: width 0.2s ease-out;   
    -webkit-transition:width 0.2s ease-out;  
    -o-transition:width 0.2s ease-out;  
    transition:width 0.2s ease-out;*/
    
    border: 4px dashed #008000;
    border-radius: 20px;
    
    background-color: #C6D880;
}

.hbusMMain section.writeObjects{
    
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    margin-top: 5px;
    
    height: 262px;
    width: auto;
    
    overflow: hidden;
    
    /*height: 200px;*/
    
    border: 4px dashed #D12F19;
    border-radius: 20px;
    
    background-color: #FBC2C4;
}

.hbusObjectValue {
    
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-serif;
    font-weight: bold;
    
    text-align: center;
    
    /*position: relative;
    top: 10px;
    left: 0px;*/
    
    display: block;
    
    color: #565656;
    /*background-color: rgba(255,255,255,0.6);*/
    
}
