/* ------------------
 styling for the tables 
   ------------------   */

body
{
    line-height: 1.6em;
}

/*h1
{
    font-family: "Lucida Sans Unicode","Lucida Grande", Sans-Serif;
    font-size: 72px;
    text-align: center;
    font-weight: bold;
    color: #039;
}*/

h3
{

   font-family: "Lucida Sans Unicode","Lucida Grande", Sans-Serif;
   font-weight: bold;
   color: #039;
   background: #EFF2FF;
   border: 1px solid #039;
   border-radius: 5px;

}

h4
{

   font-family: "Lucida Sans Unicode","Lucida Grande", Sans-Serif;
   font-weight: normal;
   color: #039;
   background: #EFF2FF;
   border: 1px solid #039;

}

a:link {text-decoration:none; color: #669;}
a:visited {text-decoration:none; color: #669;}
a:hover {text-decoration:none; color: #ff0000;}
a:active {text-decoration:none;}

li
{

   font-family: "Lucida Sans Unicode","Lucida Grande", Sans-Serif;
   font-weight: normal;
   color: #039;

}

#hor-minimalist-a
{
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 12px;
    background: #fff;
    margin: 45px;
    width: 900px;
    border-collapse: collapse;
    text-align: left;
}
#hor-minimalist-a th
{
    font-size: 14px;
    font-weight: normal;
    color: #039;
    padding: 10px 8px;
    border-bottom: 2px solid #6678b1;
    border-top: 2px solid #6678B1;
}
#hor-minimalist-a td
{
    border-bottom: 1px solid #ccc;
    color: #669;
    padding: 6px 8px;
}
#hor-minimalist-a tbody tr:hover td
{
    color: #009;
}


#hor-minimalist-b
{
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 12px;
    background: #fff;
    margin: 45px;
    width: 480px;
    border-collapse: collapse;
    text-align: left;
}
#hor-minimalist-b th
{
    font-size: 14px;
    font-weight: normal;
    color: #039;
    padding: 10px 8px;
    border-bottom: 2px solid #6678b1;
}
#hor-minimalist-b td
{
    border-bottom: 1px solid #ccc;
    color: #669;
    padding: 6px 8px;
}
#hor-minimalist-b tbody tr:hover td
{
    color: #009;
}

/*HBUS MOBILE STYLES*/

@media all and (orientation: landscape) {

.hbusContainer {
    
    max-width: 960px;
    max-height: 540px;

    margin: auto;
    
}

}

@media all and (orientation: portrait) {
    
.hbusContainer {
    
    max-width: 960px;
    max-height: 1700px;

    margin: auto;
    
}
}

.hbusTopContainer {
   
    
}

@media all and (orientation: landscape) {
.hbusMHeader {
    
    width: 100%;
    margin-bottom: 20px;
    /*display: box;*/
    height: 100px;
    
}

.hbusMHeader section{
 
    float: left;
    width: 420px;
    margin: 10px;
    
    height: inherit;
    
}

.hbusMHeader aside{
    
    float: right;
    margin: 10px;
    /*margin-left: 100px;*/
    width: auto;
    height: 90%;
    
    /*position: absolute;
    left:500px;*/
    
}

/*LOGO NO CABEÇALHO*/
.hbusMHeader a.hbusLogo {
  display: block;
  text-indent: -9999px;
  
  width:  100%;
  height: 100%;
  
  background: url(hbus.svg);
  background-repeat: no-repeat;
  background-size: contain;
  /*background-size: 75%;*/
  
}

.hbusMHeader div.hbusStatus {

    float: left;
    height: 100%;
    width: 150px;
    margin: 10px;
        
    border: 2px solid #6299C5;
    border-radius: 5px;
    
    background-color: #EFF2FF;
    
}

.hbusActiveDevices {
    
   font-family: "Lucida Sans Unicode","Lucida Grande", Sans-Serif;
   font-weight: bold;
   font-size: 3em;
   color: #039;
   background: #EFF2FF;
   border: 1px solid #039;
   border-radius: 5px;
   
   padding: 12px;
   
   /*display: box;*/
   /*vertical-align: middle;*/
}

.hbusMHeader div.hbusStatus div.activeSlaveCount
{
    
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-serif;
    font-weight: bold;
    text-align: center;
    font-size: 3em;
    padding: 10px;
    
    color: #008000;
    
}

.hbusMHeader div.hbusStatus div.statusText
{
    
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-serif;
    font-weight: bold;
    text-align: center;
    font-size: 1.25em;
    
    color: #336699;
    
}

}

@media all and (orientation:portrait) {
    
.hbusMHeader {
    
    width: 100%;
    margin-bottom: 20px;
    /*display: box;*/
    height: 200px;
    
}

.hbusMHeader section{
 
    float: left;
    width: 420px;
    margin: 10px;
    
    height: inherit;
    
}

.hbusMHeader aside{
    
    float: right;
    margin: 10px;
    /*margin-left: 100px;*/
    width: auto;
    height: 90%;
    
    /*position: absolute;
    left:500px;*/
    
}

/*LOGO NO CABEÇALHO*/
.hbusMHeader a.hbusLogo {
  display: block;
  text-indent: -9999px;
  
  width:  100%;
  height: 100%;
  
  background: url(hbus.svg);
  background-repeat: no-repeat;
  background-size: contain;
  /*background-size: 75%;*/
  
}

.hbusMHeader div.hbusStatus {

    float: left;
    height: 100%;
    width: 200px;
    margin: 10px;
        
    border: 2px solid #6299C5;
    border-radius: 5px;
    
    background-color: #EFF2FF;
    
}

.hbusActiveDevices {
    
   font-family: "Lucida Sans Unicode","Lucida Grande", Sans-Serif;
   font-weight: bold;
   font-size: 4.5em;
   color: #039;
   background: #EFF2FF;
   border: 2.5px solid #039;
   border-radius: 12.5px;
   
   padding: 30px;
   
   /*display: box;*/
   /*vertical-align: middle;*/
}

.hbusMHeader div.hbusStatus div.activeSlaveCount
{
    
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-serif;
    font-weight: bold;
    text-align: center;
    font-size: 6em;
    padding: 25px;
    margin-top:25px;
    
    color: #008000;
    
}

.hbusMHeader div.hbusStatus div.statusText
{
    
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-serif;
    font-weight: bold;
    text-align: center;
    font-size: 2em;
    
    color: #336699;
    
}
}

@media all and (orientation:landscape) {

.hbusDeviceDescription {
    
   font-family: "Lucida Sans Unicode","Lucida Grande", Sans-Serif;
   font-weight: bold;
   font-size: 3em;
   color: #039;
   background: #EFF2FF;
   border: 1px solid #039;
   border-radius: 5px;
   
   padding: 12px;
   
   /*display: box;*/
   /*vertical-align: middle;*/
}

.hbusDeviceDescription a.left
{
    float: left;  
    text-align:left;
    text-decoration: none;
    
    cursor:default;
}

.hbusDeviceDescription div.right
{
    font-size: 0.5em;
    text-align: right;
}

}

@media all and (orientation:portrait) {

.hbusDeviceDescription {
    
   font-family: "Lucida Sans Unicode","Lucida Grande", Sans-Serif;
   font-weight: bold;
   font-size: 4.5em;
   color: #039;
   background: #EFF2FF;
   border: 2.5px solid #039;
   border-radius: 12.5px;
   
   padding: 30px;
   margin-bottom: 20px;
   
   /*display: box;*/
   /*vertical-align: middle;*/
}

.hbusDeviceDescription a.left
{
    float: left;  
    text-align:left;
    text-decoration: none;
    
    cursor:default;
}

.hbusDeviceDescription div.right
{

    /*INVISÍVEL*/
    font-size: 0em;
    text-align: right;
}

}

@media all and (orientation: portrait) {

.hbusMMain {
    
    position: relative;
    
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: auto;
    margin-top: 10px;
    
    height: 1000px;
    max-height: 1400px;
    
    border: 4px dashed #6299C5;
    border-radius: 20px;
    
    background-color: #EFF2FF;
    
    overflow: hidden;
}

}

@media all and (orientation: landscape) {

.hbusMMain {
    
    position: relative;
    
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: auto;
    margin-top: 10px;
    
    height: 300px;
    max-height: 600px;
    
    border: 4px dashed #6299C5;
    border-radius: 20px;
    
    background-color: #EFF2FF;
    
    overflow: hidden;
    
}

}

.center {
    
    position: relative;
    display: block;
    top: 50%;
    margin-top: -1000px;
    height: 2000px;
    text-align: center;
    line-height: 2000px;
    
    /*background-color: #FF0000;*/
    overflow: hidden;
}

.centerWrap {
    
    line-height: 0;
}

.hbusMMain div.objectHeader h1
{
    
    text-align: center;
    padding-left: 10px;
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-serif;
    font-size: 3em;
    text-decoration:underline;

    
    color: #0644b5;
    
}

/*LISTAGEM DE BARRAMENTOS*/

.hbusMMain ul.busGrid {
    
    /*position:relative;*/
   line-height:normal;

    list-style: none;
    /*margin: 20%;
    width: 50%;*/
    /*height: 50%;*/
   text-align: center;
   
   display: inline-block;
   vertical-align: middle;
   
}

@media all and (orientation: landscape) {

.busGrid li {
    
    /*float: left;*/
    /*padding: 1px;*/
    border: 5px solid #000000;
    
    border-radius: 20px;
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    
    width: 100px;
    height:100px;
    
    background-color: #F5F5F5;
    
    display: inline-block;
    vertical-align: middle;
    
}

.busGrid a {
    
    background: url(busicon.svg) no-repeat;
    background-size: contain;
    
    background-position:center;
    
    width: 100%;
    height: 100%;
    
    display: inline-block;
    vertical-align: middle;
    
    text-align: center;
    font-weight: bold;
    
    color : #000099;
}

.busGrid a p {
    
    padding: 0;
    margin: 0;
    
    border: 1px solid #0865C2;
    border-radius: 5px;
    background-color: rgba(255,255,255,0.6);
    
    display: inline-block;
    vertical-align: middle;
    
}

}

@media all and (orientation: portrait) {

.busGrid li {
    
    /*float: left;*/
    /*padding: 1px;*/
    border: 12.5px solid #000000;
    
    border-radius: 50px;
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    
    width: 250px;
    height:250px;
    
    background-color: #F5F5F5;
    
    display: inline-block;
    vertical-align: middle;
    
}

.busGrid a {
    
    background: url(busicon.svg) no-repeat;
    background-size: contain;
    
    background-position:center;
    
    width: 100%;
    height: 100%;
    
    display: inline-block;
    vertical-align: middle;
    
    text-align: center;
    font-weight: bold;
    
    color : #000099;
}

.busGrid a p {
    
    padding: 0;
    margin: 0;
    
    border: 2.5px solid #0865C2;
    border-radius: 12.5px;
    background-color: rgba(255,255,255,0.6);
    
    display: inline-block;
    vertical-align: middle;
    
    font-size: 2.5em;
    
}

}


/*LISTAGEM DE DISPOSITIVOS*/

@media all and (orientation:landscape) {

.hbusMMain ul.devGrid {
    
    line-height:normal;
    
    list-style: none;
    /*margin: 20%;
    width: 50%;*/
    /*height: 80%;*/
   
   text-align: center;
   
   display: inline-block;
   vertical-align: middle;
   
}

.devGrid li {
    
    /*padding: 1px;*/
    border: 5px solid #000000;
    
    border-radius: 20px;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    
    width: 100px;
    height:100px;
    
    background-color: #F5F5F5;
    
    display: inline-block;
    vertical-align: middle;
    
}

.devGrid a {
    
    /*position: relative;*/
    
    background: url(devicon.svg) no-repeat;
    background-size: contain;
    
    background-position:center;
    
    width: 100%;
    height: 100%;
    
    display: inline-block;
    vertical-align: middle;
    
    text-align: center;
    font-weight: bold;
    
    color : #000099;
}

.devGrid a p {
    
    padding: 0;
    margin: 0;
    
    border: 1px solid #0865C2;
    border-radius: 5px;
    background-color: rgba(255,255,255,0.6);
    
    display: inline-block;
    vertical-align: middle;
    
}

}

@media all and (orientation:portrait) {

.hbusMMain ul.devGrid {
    
    line-height:normal;
    
    list-style: none;
    /*margin: 20%;
    width: 50%;*/
    /*height: 80%;*/
   
   text-align: center;
   
   display: inline-block;
   vertical-align: middle;
   
}

.devGrid li {
    
    /*padding: 1px;*/
    border: 12.5px solid #000000;
    
    border-radius: 50px;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    
    width: 250px;
    height:250px;
    
    background-color: #F5F5F5;
    
    display: inline-block;
    vertical-align: middle;
    
}

.devGrid a {
    
    /*position: relative;*/
    
    background: url(devicon.svg) no-repeat;
    background-size: contain;
    
    background-position:center;
    
    width: 100%;
    height: 100%;
    
    display: inline-block;
    vertical-align: middle;
    
    text-align: center;
    font-weight: bold;
    
    color : #000099;
}

.devGrid a p {
    
    padding: 0;
    margin: 0;
    
    border: 2.5px solid #0865C2;
    border-radius: 12.5px;
    background-color: rgba(255,255,255,0.6);
    
    display: inline-block;
    vertical-align: middle;
    
    font-size: 2.5em;
    
}

}

.fill {
    content: '';
    
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -0.25em;
}


/*LISTAGEM DE OBJETOS*/

@media all and (orientation:landscape) {

.hbusMMain .readObjects {
    
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    margin-top: 5px;
    
    overflow: hidden;
    
    height: 135px;
    width: auto;
    
    /*-moz-transition: width 0.2s ease-out;   
    -webkit-transition:width 0.2s ease-out;  
    -o-transition:width 0.2s ease-out;  
    transition:width 0.2s ease-out;*/
    
    border: 4px dashed #008000;
    border-radius: 20px;
    
    background-color: #C6D880;
    
    display: block;
    vertical-align: middle;
}

.hbusMMain .writeObjects{
    
    
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    margin-top: 5px;
    
    height: 135px;
    width: auto;
    
    overflow: hidden;
    
    /*height: 200px;*/
    
    border: 4px dashed #D12F19;
    border-radius: 20px;
    
    background-color: #FBC2C4;
    
    display: block;
    /*vertical-align: middle;*/
}

.hbusMMain .als-next {
    
    top: 50px;
    right: 5px;
    
}

.hbusMMain .als-prev {
    
    top: 50px;
    left: 5px;
}

.hbusMMain ul.objGrid {
    
    /*position:relative;
    top: -10px;*/
    margin: 0;
    /*margin-top: 10px;*/
    padding: 0;
    list-style: none;
    
    width: 1200px;
    height: 90%;
   
   text-align: center;

   
}

.objGrid li {
    
    /*padding: 1px;*/
    border: 4px solid #000000;
    
    border-radius: 20px;
    margin-right: 8px;
    margin-left: 8px;
    margin-top: 2px;
    margin-bottom: 2px;
    
    width: 120px;
    height:120px;
    
    background-color: #F5F5F5;
    
    display: inline-block;
    vertical-align: middle;
    
    -webkit-transform: translate3d(0,0,0);
    
    
}

.objGrid a {
    
    width: 100%;
    height: 100%;
    
    display: block;
    
    text-align: center;
    font-weight: bold;
    
    /*position: relative;
    top: 10px;*/
   margin: 0px;
   padding: 0px;
   overflow: hidden;
    
    color : #000099;
    
    position: relative;
    
    /*background-color: rgb(255,255,255);
    background-color: rgba(255,255,255,0.6);*/
}

.objGrid a p {
    
    position: relative;
    top: -5px;
    
    width: auto;
    /*height: auto;*/
    
    border: 1px solid #0865C2;
    border-radius: 5px;
    
    line-height: 85%;
    background-color: rgba(255,255,255,0.6);
    
}

.hbusObjectValue {
    
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-serif;
    font-weight: bold;
    
    text-align: center;
    
    /*position: relative;
    top: 10px;
    left: 0px;*/
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    
    display: block;
    
    color: #565656;
    background-color: rgba(255,255,255,0.8);
    
    overflow: hidden;
    
    border: 1px solid #0644B5;
    border-radius: 5px;
    
    padding: 0px;
    margin-top: 0px;
    
    position: absolute;
    bottom: 2px;
    
    text-align: center;
    
}

}

@media all and (orientation:portrait) {

.hbusMMain .readObjects {
    
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    margin-top: 5px;
    
    overflow: hidden;
    
    height: 97.5%;
    width: 47.5%;
    
    /*-moz-transition: width 0.2s ease-out;   
    -webkit-transition:width 0.2s ease-out;  
    -o-transition:width 0.2s ease-out;  
    transition:width 0.2s ease-out;*/
    
    border: 4px dashed #008000;
    border-radius: 20px;
    
    background-color: #C6D880;
    
    display: block;
    vertical-align: middle;
}

.hbusMMain .writeObjects{
    
    position: absolute;
    right: 5px;
    top:5px;
    
    /*margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    margin-top: 5px;*/
    
    height: 97.5%;
    width: 47.5%;
    
    overflow: hidden;
    
    /*height: 200px;*/
    
    border: 4px dashed #D12F19;
    border-radius: 20px;
    
    background-color: #FBC2C4;
    
    display: block;
    /*vertical-align: middle;*/
}

.hbusMMain .als-next {
    
    bottom: 20px;
    right: 50%;
    
    -moz-transform: rotate(90deg) scale(2,2);
    -webkit-transform: rotate(90deg) scale(2,2);
    -ms-transform: rotate(90deg) scale(2,2);
}

.hbusMMain .als-prev {
    
    top: 20px;
    right: 50%;
    
    -moz-transform: scale(2,2);
    -webkit-transform: scale(2,2);
    -ms-transform: scale(2,2);
    
    -moz-transform: rotate(90deg) scale(2,2);
    -webkit-transform: rotate(90deg) scale(2,2);
    -ms-transform: rotate(90deg) scale(2,2);
}

.hbusMMain .als-viewport {
    
    top: 85px;
}

.hbusMMain ul.objGrid {
    
    /*position:relative;
    top: -10px;*/
    padding: 0;
    list-style: none;
    /*margin: 20%;
    width: 50%;*/
    /*height: 90%;*/
   
   text-align: center;
   
}

.objGrid li {
    
    /*padding: 1px;*/
    border: 8px solid #000000;
    
    border-radius: 50px;
    margin-right: 8px;
    margin-left: 8px;
    margin-top: 10px;
    margin-bottom:10px;
    
    width: 225px;
    height:225px;
    
    background-color: #F5F5F5;
    
    display: inline-block;
    vertical-align: middle;
    
}

.objGrid a {
    
    width: 100%;
    height: 100%;
    
    display: block;
    
    text-align: center;
    font-weight: bold;
    
    /*position: relative;
    top: 10px;*/
   margin: 0px;
   padding: 0px;
   overflow: hidden;
    
    color : #000099;
    
    position: relative;
    
    /*background-color: rgb(255,255,255);
    background-color: rgba(255,255,255,0.6);*/
}

.objGrid a p {
    
    position: relative;
    top: -5px;
    
    width: auto;
    /*height: auto;*/
    
    border: 2.5px solid #0865C2;
    border-radius: 12.5px;
    
    line-height: 85%;
    background-color: rgba(255,255,255,0.6);

    font-size: 2em;
    
}

.hbusObjectValue {
    
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-serif;
    font-weight: bold;
    
    text-align: center;
    
    /*position: relative;
    top: 10px;
    left: 0px;*/
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    
    display: block;
    
    color: #565656;
    background-color: rgba(255,255,255,0.8);
    
    overflow: hidden;
    
    border: 2.5px solid #0644B5;
    border-radius: 12.5px;
    
    padding: 0px;
    margin-top: 0px;
    
    position: absolute;
    bottom: 6px;
    
    text-align: center;
    font-size: 2em;
    
    line-height: 1.2em;
    
}


}

li.percent {
    
    background: url(percent.svg) no-repeat;
    background-size: contain;
    background-position:center;
    background-color: #F5F5F5;
}

li.boolsw {
    
    background: url(boolsw.svg) no-repeat;
    background-size:contain;
    background-position: center;
    background-color: #F5F5F5;
}

li.byte {
    
    background: url(byte.svg) no-repeat;
    background-size: contain;
    background-position: center;
    background-color: #F5F5F5;
}

li.integer {
    
    background: url(integer.svg) no-repeat;
    background-size: contain;
    background-position: center;
    background-color: #F5F5F5;
}

li.unitsdB {
    
    background: url(dB.svg) no-repeat;
    background-size: contain;
    background-position: center;
    background-color: #F5F5F5;
}

li.empty {
    
}


/*OBJECT SET*/

@media all and (orientation:landscape) {
    
.hbusObjectDescription {
    
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-serif;
    font-weight: bold;
    
    text-align: center;
    
}

.hbusMMain ul.objSetGrid {
    
    position:relative;
    top: -10px;
    
    padding: 0;
    list-style: none;
    /*margin: 20%;
    width: 50%;*/
    height: 90%;
   
   text-align: center;
   
}

.objSetGrid li {
    
    /*float: left;*/
    /*padding: 1px;*/
    border: 4px solid #000000;
    
    border-radius: 20px;
    margin-right: 8px;
    margin-left: 8px;
    margin-top: 10px;
    margin-bottom: 10px;
    
    width: 250px;
    height:250px;
    
    background-color: #F5F5F5;
    
    display: inline-block;
    vertical-align: middle;
    
}

.objSetGrid a {
    
    width: 100%;
    height: 100%;
    
    display: block;
    
    text-align: center;
    font-weight: bold;
    
    /*position: relative;
    top: 10px;*/
   margin: 0px;
   padding: 0px;
   overflow: hidden;
    
    color : #000099;
    
    position: relative;
    
    /*background-color: rgb(255,255,255);
    background-color: rgba(255,255,255,0.6);*/
}

.objSetGrid a p {
    
    position: relative;
    top: -5px;
    
    width: auto;
    /*height: auto;*/
   border: 1px solid #0644B5;
   border-radius: 5px;
   
   font-size: 2em;
    
    line-height: 85%;
    background-color: rgba(255,255,255,0.6);
}

.objSetGrid li.setPercent {
    
    display: inline-block;
    
    border: 4px dashed #D12F19;
    background-color: #FBC2C4;
    
}

.objSetGrid li.onoff {
    
    display: inline-block;
    vertical-align: middle;
    
    border: 4px dashed #D12F19;
    background-color: #FBC2C4;
    
}

.objSetGrid li.binByte {
    
    border: 4px dashed #D12F19;
    background-color: #FBC2C4;
    
}

.objSetButton {
    
    width: 100px;
    height: 100px;
    
    border: 4px solid #565656;
    border-radius: 20px;
    
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-serif;
    font-weight: bold;
    font-size: 1.5em;
}

.objSetButton.onoff {
    
    position: relative;
    top: 10px;
    
    
    margin-top: auto;
    margin-bottom: auto;
    
}

.objControlText {
    
    position: relative;
    top: -8px;
    
    margin-bottom: 0px;
    
    color: #D12F19;
    text-align: center;
    
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-serif;
    font-weight: bold;
    font-size: 2em;
    
}

}

@media all and (orientation:portrait) {
    
.hbusObjectDescription {
    
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-serif;
    font-weight: bold;
    
    text-align: center;
    
}

.hbusMMain ul.objSetGrid {
    
    position:relative;
    top: -10px;
    
    padding: 0;
    list-style: none;
    /*margin: 20%;
    width: 50%;*/
    height: 90%;
   
   text-align: center;
   
}

.objSetGrid li {
    
    /*float: left;*/
    /*padding: 1px;*/
    border: 8px solid #000000;
    
    border-radius: 50px;
    margin-right: 8px;
    margin-left: 8px;
    margin-top: 10px;
    margin-bottom: 10px;
    
    width: 450px;
    height:450px;
    
    background-color: #F5F5F5;
    
    display: inline-block;
    vertical-align: middle;
    
}

.objSetGrid a {
    
    width: 100%;
    height: 100%;
    
    display: block;
    
    text-align: center;
    font-weight: bold;
    
    /*position: relative;
    top: 10px;*/
   margin: 0px;
   padding: 0px;
   overflow: hidden;
    
    color : #000099;
    
    position: relative;
    
    /*background-color: rgb(255,255,255);
    background-color: rgba(255,255,255,0.6);*/
}

.objSetGrid a p {
    
    position: relative;
    top: -5px;
    
    width: auto;
    /*height: auto;*/
   border: 2.5px solid #0644B5;
   border-radius: 12.5px;
   
   font-size: 4em;
    
    line-height: 85%;
    background-color: rgba(255,255,255,0.6);
}

/*VALOR DO OBJETO - ICONE DO OBJETO*/
.objSetGrid a span.hbusObjectValue {
    
    /*AJUSTA TAMANHO DE FONTE E OUTROS*/
   font-size: 4em;
    
}

.objSetGrid li.setPercent {
    
    display: inline-block;
    
    border: 8px dashed #D12F19;
    background-color: #FBC2C4;
    
}

.objSetGrid li.onoff {
    
    display: inline-block;
    vertical-align: middle;
    
    border: 8px dashed #D12F19;
    background-color: #FBC2C4;
    
}

.objSetGrid li.binByte {
    
    border: 8px dashed #D12F19;
    background-color: #FBC2C4;
    
}

.objSetButton {
    
    width: 190px;
    height: 190px;
    
    border: 8px solid #565656;
    border-radius: 50px;
    
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-serif;
    font-weight: bold;
    font-size: 3em;
}

.objSetButton.onoff {
    
    position: relative;
    top: 50px;
    
    
    margin-top: auto;
    margin-bottom: auto;
    
}

.objControlText {
    
    position: relative;
    top: -8px;
    
    color: #D12F19;
    text-align: center;
    
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-serif;
    font-weight: bold;
    font-size: 3em;
    
}

}

button:hover, .buttons a:hover{
    background-color:#dff4ff;
    /*border:1px solid #c2e1ef;*/
    color:#336699;
}

/*RANGE*/

@media all and (orientation:landscape) {

.slider100 {
    
    display: block;
    margin-left: auto;
    margin-right: auto;
    
    margin-bottom: 25px;
    margin-top: 10px;
    
}

input[type="range"].slider100 {
    
    -webkit-appearance: none;
    
    background-color: #FBC2C4;
    height: 10px;
    width: 200px;
    
    border: 3px solid #871e10;
    border-radius: 5px;
}

input[type="range"].slider100::-moz-range-track {
    
    -moz-appearance: none;
    
    background-color: #FBC2C4;
    height: 10px;
    width: 200px;
    
    border: 3px solid #D12F19;
    border-radius: 5px;
}

input[type="range"].slider100::-webkit-slider-thumb {
    
    -webkit-appearance: none;
    
    /*background-image: -webkit-gradient(linear, left top, left bottom, from(#EEE), to(#AAA));*/
    height: 30px;
    width: 25px;
    
    background-color: #CCCCCC;
    
    border: 4px solid #565656;
    border-radius: 5px;
}

input[type="range"].slider100::-moz-range-thumb {
    
    -moz-appearance: none;
    
    /*background-image: -webkit-gradient(linear, left top, left bottom, from(#EEE), to(#AAA));*/
    height: 30px;
    width: 25px;
    
    background-color: #CCCCCC;
    
    border: 4px solid #565656;
    border-radius: 5px;
}

.objectControlData {
    
    color: #565656;
    font-weight: bold;
    
    width: auto;
    
}

}

@media all and (orientation:portrait) {

.slider100 {
    
    display: block;
    margin-left: auto;
    margin-right: auto;
    
    margin-bottom: 25px;
    margin-top: 10px;
    
}

input[type="range"].slider100 {
    
    -webkit-appearance: none;
    
    background-color: #FBC2C4;
    height: 15px;
    width: 375px;
    
    border: 6px solid #871e10;
    border-radius: 10px;
    
    margin-bottom: 50px;
}

input[type="range"].slider100::-moz-range-track {
    
    -moz-appearance: none;
    
    background-color: #FBC2C4;
    height: 15px;
    width: 375px;
    
    border: 6px solid #D12F19;
    border-radius: 10px;
}

input[type="range"].slider100::-webkit-slider-thumb {
    
    -webkit-appearance: none;
    
    /*background-image: -webkit-gradient(linear, left top, left bottom, from(#EEE), to(#AAA));*/
    height: 55px;
    width: 45px;
    
    background-color: #CCCCCC;
    
    border: 8px solid #565656;
    border-radius: 10px;
}

input[type="range"].slider100::-moz-range-thumb {
    
    -moz-appearance: none;
    
    /*background-image: -webkit-gradient(linear, left top, left bottom, from(#EEE), to(#AAA));*/
    height: 55px;
    width: 45px;
    
    background-color: #CCCCCC;
    
    border: 8px solid #565656;
    border-radius: 10px;
}

.objectControlData {
    
    color: #565656;
    font-weight: bold;
    
    font-size: 2em;
    
    width: auto;
    
}

}


#percentValue {
    
    
    
}

/*ALS STYLES*/
/*****************************************************
 * generic styling for ALS elements: outer container
 ******************************************************/

.als-container {
    position: relative;
    width: 100%;
    margin: 0px auto;
    z-index: 0;
}

/****************************************
 * viewport styling
 ***************************************/

.als-viewport {
    position: relative;
    overflow: hidden;
    margin: 0px auto;
}

/***************************************************
 * wrapper styling
 **************************************************/

.als-wrapper {
    position: relative;
    /* if you are using a list with <ul> <li> */
    list-style: none;
}

/*************************************
 * item: single list element
 ************************************/

.als-item {
    position: relative;
    display: block;
    text-align: center;
    cursor: pointer;
    float: left;
}

/***********************************************
 * prev, next: buttons styling
 **********************************************/
 
.als-prev, .als-next {
    position: absolute;
    cursor: pointer;
    clear: both;
}

.objectListWrapper {

    margin:0;
    padding: 0;
    
    /*width: 1200px;
    height: 135px;*/
    /*overflow: hidden;*/

}

