#example device configuration
[device]
#dont_read : ignore this configuration file
dont_read = true
#device unique id
uid = 0x00000000
#number of objects
object_count = 1
#number of endpoints
endpoint_count = 0
#number of interrupts
int_count = 0
#device descriptor string (name)
descr = 
#device has microcode support
has_ucode = false
#device has master authentication support
has_auth = false
#device has cryptography support
has_crypto = false
#device has endpoint support
has_endpoint = false
#device has interrupt support
has_int = false
#device has reverse authentication support
has_revauth = false

#example object configuration
[object1]
#has read permissions
can_read = true
#has write permissions
can_write = true
#data is encrypted
is_crypto = false
#this is a hidden object
hidden = false
#object level, 0-3
level = 0
#object size in bytes
size = 0
#data type name can be I (integer), U (unsigned integer), B (byte), F (fixed point)
data_type = 
#data type extra info, depends on data type
#for byte type: h (display as hex), d (display as decimal), o (display as octal), b (display as binary), B (display as boolean)
#for unsigned integet: p (display as percent), L (display as in a linear scale), l (display as in a logarithmic scale), t (display as time format), D (display as date format), u (raw unsigned)
data_type_info = 
#object description (name)
descr = 
#object dummy return value
value = 