
[device]
dont_read = true
uid = 0x00000000
object_count = 1
endpoint_count = 0
int_count = 0
descr = ""
has_ucode = false
has_auth = false
has_crypto = false
has_endpoint = false
has_int = false
has_revauth = false

[object1]
can_read = true
can_write = true
is_crypto = false
hidden = false
level = 0
size = 0
data_type = ""
data_type_info = ""
descr = ""
value = ""